---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import { Icon } from "astro-icon";
---

<BaseLayout
	title="About | Rashidtvmr"
	description="About Rashidtvmr Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<div style="height: 450px;overflow:hidden;border-radius:12px">
					<img
						src="/assets/at-work.png"
						alt="Rashidtvmr at work with a colleague"
						style="transform: scale(1.2);"
						height="w-full scale-1"
					/>
				</div>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a highly skilled web and mobile developer with a
						strong foundation in various front-end and back-end
						languages, responsive frameworks, databases, and best
						coding practices. With a passion for continuous learning
						and a dedication to excellence, I strive to be the best
						developer I can be. I bring a solid understanding of
						problem-solving and complex algorithms, which I acquired
						during my studies in Computer Science. My commitment to
						staying updated with industry trends and collaborating
						with experienced professionals enables me to deliver
						high-quality solutions and contribute to the advancement
						of technology.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>MASTER OF SCIENCE Computer Science</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						<section class="resume-section" id="skills">
							<div class="resume-section-content">
								<h2 class="mb-5">Skills</h2>
								<div class="flex my-10">
									<Icon
										name="ph:file-js-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:file-html-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:file-css-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:file-vue-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:github-logo-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:git-branch-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:linux-logo-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:database-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:database-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:database-bold"
										class="w-5 h-5 text-red"
									/>
									<Icon
										name="ph:database-bold"
										class="w-5 h-5 text-red"
									/>
								</div>
								<!-- <div class="subheading mb-3"></div> -->
								<ul class="fa-ul mb-0">
									<li>
										<span class="fa-li"
											><i class="fas fa-laptop-code"
											></i></span
										>
										Web Application using
										<ul>
											<li>
												MERN stack (MongoDB, ExpressJS,
												ReactJS and NodeJS)
											</li>
											<li>
												MEVN stack (MongoDB, ExpressJS,
												VueJS and NodeJS)
											</li>
											<li>
												REFI stack (ReactJS and
												Firebase)
											</li>
											<li>
												VUFI stack (VueJS and Firebase)
											</li>
											<li>
												NodeJS and Its Templating
												engines (EJS, Handlebars and
												Pug)
											</li>
											<li>
												Bootstrap or Materialize and
												VanillaJS and VanillaCSS
											</li>
											<li>
												With any CSS and JS framework
											</li>
										</ul>
									</li>
									<li>
										<span class="fa-li"
											><i class="fas fa-mobile"></i></span
										>
										Mobile Application using
										<ul>
											<li>React-Native</li>
											<li>Flutter</li>
											<li>Capacitor or Apache cordova</li>
										</ul>
									</li>
									<li>
										<span class="fa-li"
											><i class="fas fa-bug"></i></span
										>
										Debugging in VSCode and Chrome debugging
										tool
									</li>
									<li>
										<span class="fa-li"
											><i class="fas fa-database"
											></i></span
										>
										Building APIs using NodeJS or Firebase Cloud
										Functions
									</li>
									<li>
										<span class="fa-li"
											><i class="fab fa-css3-alt"
											></i></span
										>
										Mobile-First, Responsive Design
									</li>
									<li>
										<span class="fa-li"
											><i class="fas fa-flask"></i></span
										>
										Cross Browser Testing & Debugging
									</li>
									<li>
										<span class="fa-li"
											><i class="fas fa-check"></i></span
										>
										Solving Problems
									</li>
									<li>
										<span class="fa-li"
											><i class="fab fa-google"></i></span
										>
										Google APIs
									</li>
									<li>
										<span class="fa-li"
											><i class="fas fa-cloud-upload-alt"
											></i></span
										>
										Application deployment experience in
										<ul>
											<li>AWS</li>
											<li>Vercel</li>
											<li>Cloudflare</li>
											<li>Github Pages</li>
											<li>Netlify</li>
											<li>Heroku</li>
											<li>DigitalOcean</li>
											<li>Firebase hosting</li>
										</ul>
									</li>
								</ul>
							</div>
						</section>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
